body {
color: black;
font-Size:30px;
font-weight: bold;
}
h1 {
	color:black;
	font-size: 30px;
	font-weight: bold;
}
h2 {
	color:white;
	font-size: 30px;
	font-weight: bold;
}
h3 {
	color:red;
	font-size: 30px;
	font-weight: bold;
	font-style:forte regular;
	font-family:forte regular;
}
}
h4 {
	color:white;
	font-size: 30px;
	font-weight: bold;
}
h5 {
	color:white;
	font-size: 30px;
	font-weight: bold;
}
h6 {
	color:red;
	font-size: 30px;
	font-weight: bold;
	font-style:forte regular;
	font-family:forte regular;
}
}
h7 {
	color:white;
	font-size: 30px;
	font-weight: bold;
}
h8 {
	color:red;
	font-size: 30px;
	font-weight: bold;
	font-style:forte regular;
	font-family:forte regular;
}
}
h9 {
	color:white;
	font-size: 30px;
	font-weight: bold;
}
h10 {
    color:red;
    font-Size: 30px;
    font-weight: bold;
	font-style:forte regular;
	font-family:forte regular;
}
img {
	width: 200px;
} 
#bio {
 color: red;
 font-style:cooper black ;
 font-family:cooper black;
 font-Size: 40px;
 font-weight: bold;
 }
html{background:url("f3.jpg");
	background-repeat:repeat;
	background-size: cover;
}
a:link {
	color: purple;
}
a:visited {
	color:red;
}
a:hover {
	color:green;
}
a:active {
	color:yellow;
}